### Conditional Statements
- if 
    - If the given condition is True, then the statements in if block will execute
- if else
    - Same as if, and if condition is not satisfied then the statements in else block will execute
- elif
    - elif is nothing but else that allows user to check no of conditions
- Nested if
    - when an if else statement is present inside an if block then it called nested if

In [ ]:
# if else syntax
if condition:
    statements
else:
    statement

In [3]:
a = 5
if a == 4:
    print("True")
else:
    print("False")

False

In [5]:
n = int(input("enter a value"))
if n>0:
    print("positive")
else:
    print("negative")

enter a value78
positive

In [ ]:
# elif statement
if condition:
    statements
elif condition:
    statements
else:
    statements

In [8]:
n = int(input("enter a value"))
if n>0:
    print("positive")
elif n==0:
    print("zero")
else:
    print("negative")

enter a value-4567
negative

In [12]:
n = int(input("enter a value"))
if n>=0:
    if n==0:
        print("zero")
    else:
        print("positive")
else:
    print("negative")

enter a value-789
negative

In [16]:
uname = "apssdc"
pwd = "12345"
username = input("enter username")
password = input("enter password")
if uname == username and password == pwd:
    print("welcome "+ username)
else:
    print("invalid credentials")

enter usernameapssdc
enter password12345
invalid credentials

In [19]:
uname = "python"
pwd = "batch"
username = input("enter")
if username == uname:
    password = input("enter ")
    if password == pwd:
        print("welcome "+uname)
    else:
        print("invalid password")
else:
    print("invalid username")

enterkjhgfds
invalid username

### Loops
- for
- while

In [22]:
# for loop
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
# range(start,stop,step) 
# start and step are optional, start = 0, step =1,stop-1

In [27]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [28]:
s = 0
for i in range(1,11):
    s = s + i
print(s)

55

In [29]:
# 2 * 1 = 2
n = int(input("enter number "))
for i in range(1,11):
    print(n,'*',i,'=',n*i)

enter number 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [30]:
k = 1
while k<=10:
    print(k)
    k+=1

1
2
3
4
5
6
7
8
9
10

In [31]:
start = int(input("enter start value "))
stop  = int(input("enter stop value"))
a =0
while start <= stop:
    a = a + start
    start+=1
print(a)

enter start value 1
enter stop value15
120

### Jump statements
- break
    - whenever break is used it does not allow to execute the statements after break and exits from the loop
- continue
    - whenever continue is used that iteration will be skipped and allows next iterations
- return
    - whenever return is used, the statements after return will not execute and exits from the function

In [32]:
k = "string"
for t in k:
    if t == 'i':
        break
    else:
        print(t)

s
t
r

In [34]:
k = "string"
for t in k:
    if t == 'i':
        continue
        print(t)
    else:
        print(t)

s
t
r
n
g

In [35]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Functions
- function is a set of statements used to perform a particular task
##### Types of Functions
- Pre defined functions
    - print,type,input,range,int,float,str,dir,chr,ord,min,max,sum,len
- User defined functions

In [37]:
chr(65)

'A'

In [38]:
chr(32)

' '

In [39]:
chr(97)

'a'

In [40]:
ord('a')

97

In [41]:
ord("z")

122

In [44]:
k = "thisisaexample34567"
min(k)

'3'

In [43]:
max(k)

'x'

In [45]:
len(k)

19

In [ ]:
# function syntax
def functionname:
    statements

In [50]:
def add(a,b):
    c = a+b
    print(c)


a = int(input("enter a value "))
b = int(input("enter b value "))
add(a,b)

enter a value 4
enter b value 5
9

4

In [48]:
add(2,3)

5

In [51]:
add(int(input("enter a value")),int(input("enter b value ")))

enter a value78
enter b value 2
80

In [ ]:
# Tasks
#1 input : rows = 5
# output:
# *
# * *
# * * *
# * * * *
# * * * * *

#2 to check whether a given year is leap year or not
#3 print the sum of the digits in a given number(123-->1+2+3=6)
#4 to check whether a number is palindrome or not
#5 to find the largest of three numbers