# Tuple
- tuple has just like a immutable python objects.
- syntax : tuple=()

In [1]:
tup = (10,"sana",3.4,'nandini')
type(tup)

tuple

In [2]:
tup[1]

'sana'

In [3]:
tup[-3]

'sana'

In [5]:
tup[0:3]

(10, 'sana', 3.4)

In [6]:
tup[1:4]

('sana', 3.4, 'nandini')

In [7]:
tup[1:]

('sana', 3.4, 'nandini')

In [8]:
tup[1:3]

('sana', 3.4)

In [9]:
lst = [1,2,3,4,5]
type(lst)

list

In [10]:
lst[2]

3

In [11]:
lst[2]=300
lst

[1, 2, 300, 4, 5]

In [12]:
tup

(10, 'sana', 3.4, 'nandini')

In [13]:
tup[1]

'sana'

In [14]:
tup[1]="poojitha"

TypeError: 'tuple' object does not support item assignment

In [15]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [16]:
tup.count(10)

1

In [17]:
tup.index('nandini')

3

In [18]:
tup[::-1]

('nandini', 3.4, 'sana', 10)

In [20]:
t = ('p','y','t','h','o','n')
# op = python
output = ''.join(t)
print(output)

python

# sets
- sets are used to store the collection of data in pyhton.it contains unique values.enclosed with a {}.
- syntax: set = {}

In [21]:
st = {1,2,3,1,2,3}
st

{1, 2, 3}

In [22]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [23]:
set1={'abc',123,12,13}
set2={'green','yellow',124,143}
set1.update(set2)
print(set1)

{12, 13, 143, 'abc', 'green', 123, 124, 'yellow'}

In [24]:
set3=set2.copy()
set3

{124, 143, 'green', 'yellow'}

In [25]:
set3.clear()

In [26]:
set3

set()

In [48]:
#pop-->it remove any element
ss= {1,2,"pooji",'nandu'}
ss.pop()
ss

{2, 'nandu', 'pooji'}

In [ ]:
# remove --> remove wanted element
ss= {1,2,"pooji",'nandu'}
ss.remove('pooji')
ss

### difference
- it remove the common elements in two sets and return the unique values in the first set.

In [30]:
s1 = {1,10,11,20,21,30}
s2 = {10,20,30}
s3 = s1.difference(s2)
print(s3)

{1, 11, 21}

### difference_update

In [33]:
s1 = {1,10,11,20,21,30}
s2 = {10,20,30}
s1.difference_update(s2)
print(s1)

{1, 11, 21}

### intersection

In [34]:
s1 = {1,10,11,20,21,30}
s2 = {10,20,30}
s3 = s1.intersection(s2)
print(s3)

{10, 20, 30}

### intersection_update

In [35]:
s1 = {1,10,11,20,21,30}
s2 = {10,20,30}
s1.intersection_update(s2)
print(s1)

{10, 20, 30}

### discard
- it remove specified element.

In [36]:
s2

{10, 20, 30}

In [37]:
s2.discard(20)
print(s2)

{10, 30}

### isdisjoint
- it returns True,whether two sets are intersection.

In [41]:
colours = {'green','yellow','red'}
games = {'ludo','sudoku','puzzle','green'}
res = colours.isdisjoint(games)
print(res)

False

### symmetric_difference

In [42]:
colours = {'green','yellow','red'}
games = {'ludo','sudoku','puzzle','green'}
res = colours.symmetric_difference(games)
print(res)

{'ludo', 'puzzle', 'sudoku', 'red', 'yellow'}

### symmetric_difference_update

In [43]:
colours = {'green','yellow','red'}
games = {'ludo','sudoku','puzzle','green'}
colours.symmetric_difference_update(games)
print(colours)

{'ludo', 'puzzle', 'sudoku', 'red', 'yellow'}

In [45]:
num1={1,2,3,4}
num2={5,6,1}
res=num1.union(num2)
print(res)

{1, 2, 3, 4, 5, 6}

### issubset

In [51]:
num1={1,2,3}
num2={'a',1,'b',2,'c',3}
values = num1.issubset(num2)
print(values)

True

In [55]:
num1={1,2,3,4}
num2={'a',1,'b',2,'c',3}
values = num1.issubset(num2)
print(values)

False

### issuperset

In [56]:
num1={1,2,3}
num2={'a',1,'b',2,'c',3}
values = num1.issuperset(num2)
print(values)

False

In [54]:
num1={'a',1,'b',2,'c',3}
num2={1,2,3}
values = num1.issuperset(num2)
print(values)

True