In [5]:
print("welcome to python programming language")

welcome to python programming language

print('hello')

Hello

*Hello*

**Hello**

***Hello**

# hi
## good
### hello
#### have
#####  nice
###### day
#######

# Python language
    - high level 
    - interpreter scripting

## Ordered list
1. List1
2. List2

## Unordered list

- li1
- li2
    - li3
    - li4
        - li5
        - li6

- esc+y -->from markdown to code
- esc+m --> from code to markdown
- shif+l --> to provide numbers to the cell
- shift+enter --> to see the output
- dd --> to delete cell

In [6]:
##### printing message

print('hello world')

hello world

#### Variables
    - To store the values
    - variabes names should not starts with integers
    - should not starts with keywords
    - should not starts with special characters

In [ ]:
num1 = 4
num2 = 5

1st =4 
2nd = 8

In [ ]:
sum = 5
len = 5
lambda = 87

### Multi variable assignment

In [7]:
v1 = v2 = v5 = 6
print(v1)

6

In [8]:
print(v5)

6

## Data types
    - int
    - float
    - str

In [9]:
t = 6

In [10]:
type(t)

int

In [11]:
y = 8.423
type(y)

float

In [12]:
u = 'nandini'
type(u)

str